{{outlet 'error' }}
<br>
<center>
  <h3 class="panel-title">Miner Information</h3>
</center>
<div class="row" style="margin: auto; padding-top: 30px">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Payments & Balances:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Immature Balance: {{format-balance model.stats.immature}}
          </li>
          <li class="list-group-item">
            Pending Balance: {{format-balance model.stats.balance}}
          </li>
          {{#if model.stats.pending}}
            <li class="list-group-item">
              Previous Payment: {{format-balance model.stats.pending}}
            </li>
          {{/if}}
          <li class="list-group-item">
            Total Paid: {{format-balance model.stats.paid}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Pool Stats:</h5>
        <ul class="list-group list-group-flush">
          {{#if model.stats.lastShare}}
            <li class="list-group-item">
              Last Share Submitted: {{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}
            </li>
          {{/if}}
          <li class="list-group-item">
            Workers Online: {{format-number model.workersOnline}}
          </li>
          <li class="list-group-item">
            Hashrate (30m): {{format-hashrate model.currentHashrate}}
          </li>
          <li class="list-group-item">
            Hashrate (3h): {{format-hashrate model.hashrate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Pool Stats:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Blocks Found: {{format-number model.stats.blocksFound fallback='0'}}
          </li>
          <li class="list-group-item">
            Total Payments: {{format-number model.paymentsTotal}}
          </li>
          <li class="list-group-item">
            Your Round Share: {{format-number roundPercent style='percent' maximumFractionDigits='6'}}
          </li>
          <li class="list-group-item">
            Epoch Switch: {{format-relative applicationController.nextEpoch units="hour"}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        {{#active-li currentWhen='account.index' role='presentation'}}
          <a class="page-link">
            {{#link-to 'account.index'}}Workers <span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
          </a>
        {{/active-li}}
      </li>
      <li class="page-item">
        {{#active-li currentWhen='account.payouts' role='presentation'}}
          <a class="page-link">
            {{#link-to 'account.payouts'}}Payouts{{/link-to}}
          </a>
        {{/active-li}}
      </li>
    </ul>
  </nav>
</div>

{{outlet}}
