<center>
  <h3 class="panel-title">Pool Information</h3>
</center>
<div class="row" style="margin: auto; padding-top: 30px">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Number of Miners online:</h5>
        <p class="card-text" style="text-align: center;color:#000;">{{model.minersTotal}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;color:#000;">Total Pool Hashrate:</h5>
        <p class="card-text" style="text-align: center;color:#000;">{{format-hashrate model.hashrate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin: auto; padding-top: 30px">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Number of Miners online:</h5>
        <p class="card-text" style="text-align: center;color:#000;">{{model.minersTotal}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;color:#000;">Total Pool Hashrate:</h5>
        <p class="card-text" style="text-align: center;color:#000;">{{format-hashrate model.hashrate}}</p>
      </div>
    </div>
  </div>
</div>
<!--<div class="panel panel-success" style="width: 75%; margin: auto; padding-top: 30px">
  <div class="panel-heading">
    <center>
      <h3 class="panel-title">Pool Information</h3>
    </center>
  </div>
  <center>
    <h4> Pool Settings: </h4>
  </center>
  <center>
    <table class="table" style="width: 70%;">
      <tr>
        <th class="tg-0lax">Setting</th>
        <th class="tg-0lax">Value</th>
      </tr>
      <tr>
        <td class="tg-0lax">Minimum Payout Amount:</td>
        <td class="tg-0lax">{{config.PayoutThreshold}}</td>
      </tr>
      <tr>
        <td class="tg-0lax">Pool Payment Method:</td>
        <td class="tg-0lax">PROP</td>
      </tr>
      <tr>
        <td class="tg-0lax">Payout Frequency:</td>
        <td class="tg-0lax">60 Minutes</td>
      </tr>
      <tr>
        <td class="tg-0lax">Pool Fee:</td>
        <td class="tg-0lax">{{config.PoolFee}}</td>
      </tr>
    </table>
  </center>
  <center>
    <h4> Pool Stats: </h4>
  </center>
  <center>
    <table class="table" style="width: 70%;">
      <tr>
        <th class="tg-0lax">Stat ID</th>
        <th class="tg-0lax">Value</th>
      </tr>
      <tr>
        <td class="tg-0lax">Num. of Miners Online:</td>
        <td class="tg-0lax">{{format-number stats.model.minersTotal}}</td>
      </tr>
      <tr>
        <td class="tg-0lax">Pool Hash Rate:</td>
        <td class="tg-0lax">{{format-hashrate stats.model.hashrate}}</td>
      </tr>
      <tr>
        <td class="tg-0lax">Last Block Found:</td>
        <td class="tg-0lax">{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</td>
      </tr>
      <tr>
        <td class="tg-0lax">Current Round Variance:</td>
        <td class="tg-0lax">{{format-number stats.roundVariance style='percent'}}</td>
      </tr>
    </table>
  </center>
  <center>
    <h4> Network Stats: </h4>
  </center>
  <center>
    <table class="table" style="width: 70%;">
      <tr>
        <th class="tg-0lax">Stat ID</th>
        <th class="tg-0lax">Value</th>
      </tr>
      <tr>
        <td class="tg-0lax">Network Hash Rate:</td>
        <td class="tg-0lax">{{format-hashrate stats.hashrate}}</td>
      </tr>
      <tr>
        <td class="tg-0lax">Network Difficulty:</td>
        <td class="tg-0lax">{{with-metric-prefix stats.difficulty}}</td>
      </tr>
      <tr>
        <td class="tg-0lax">Blockchain Height:</td>
        <td class="tg-0lax">{{format-number stats.height}}</td>
      </tr>
    </table>
  </center>
  <center>
    <h4> Available Ports: </h4>
  </center>
  <center>
    <table class="table" style="width: 70%;">
      <tr>
        <th class="tg-0lax">Difficulty</th>
        <th class="tg-0lax">Stratum Port</th>
        <th class="tg-0lax">Proxy Port</th>
      </tr>
      <tr>
        <td class="tg-0lax">2 Billion</td>
        <td class="tg-0lax">8002</td>
        <td class="tg-0lax">8802</td>
      </tr>
      <tr>
        <td class="tg-0lax">4 Billion</td>
        <td class="tg-0lax">8004</td>
        <td class="tg-0lax">8804</td>
      </tr>
      <tr>
        <td class="tg-0lax">9 Billion</td>
        <td class="tg-0lax">8009</td>
        <td class="tg-0lax">8809</td>
      </tr>
      <tr>
        <td class="tg-0lax">12 Billion</td>
        <td class="tg-0lax">8012</td>
        <td class="tg-0lax">8812</td>
      </tr>
    </table>
  </center>
  <center>
    <h4> Miner Configs: </h4>
  </center>
  <center>
    <ol class="breadcrumb" style="width: 70%;">
      <li style="color:#000;">Claymore: -wd 1 -r 1 -epool stratum+tcp://enix.arhash.xyz:8002 -ewal (Address) -eworker (Rig Name) -esm 0 -epsw x -allcoins 1 -asm 1</li>
    </ol>
    <ol class="breadcrumb" style="width: 70%;">
      <li style="color:#000;">Phoenix Miner: -coin eth -pool enix.arhash.xyz:8002 -wal (Address) -rmode 2 -worker (Rig Name)</li>
    </ol>
  </center>
</div>-->
<!--<span class="enixus"></span>-->
