<br>
<center>
  <h3 class="panel-title">Pool Information</h3>
</center>
<div class="row" style="margin: auto; padding-top: 30px">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Pool Settings:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Minimum Payout Amount: {{config.PayoutThreshold}}
          </li>
          <li class="list-group-item">
            Pool Payment Method:: PROP
          </li>
          <li class="list-group-item">
            Payout Frequency: 60 Minutes
          </li>
          <li class="list-group-item">
            Pool Fee: {{config.PoolFee}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Pool Stats:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Num. of Miners Online: {{format-number stats.model.minersTotal}}
          </li>
          <li class="list-group-item">
            Pool Hashrate: {{format-hashrate stats.model.hashrate}}
          </li>
          <li class="list-group-item">
            Time since the last block was found: {{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}
          </li>
          <li class="list-group-item">
            Current Round Variance: {{format-number stats.roundVariance style='percent'}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin: auto; padding-top: 30px">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Network Stats:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Network Hash Rate:: {{format-hashrate stats.hashrate}}
          </li>
          <li class="list-group-item">
            Network Difficulty: {{with-metric-prefix stats.difficulty}}
          </li>
          <li class="list-group-item">
            Blockchain Height: {{format-number stats.height}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin: auto; padding-top: 30px">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h5 class="card-title" style="text-align: center;color:#000;">Available Ports:</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Difficulty: 2 Billion - Stratum Port: 8002 - Proxy Port: 8802
          </li>
          <li class="list-group-item">
            Difficulty: 4 Billion - Stratum Port: 8004 - Proxy Port: 8804
          </li>
          <li class="list-group-item">
            Difficulty: 9 Billion - Stratum Port: 8009 - Proxy Port: 8809
          </li>
          <li class="list-group-item">
            Difficulty: 12 Billion - Stratum Port: 8012 - Proxy Port: 8812
          </li>
        </ul>
        <center>
          <h4 style="color:#000;"> Miner Configs: </h4>
        </center>
        <center>
          <ol class="breadcrumb" style="width: 70%;">
            <li style="color:#000;">Claymore: -wd 1 -r 1 -epool stratum+tcp://enix.arhash.xyz:8002 -ewal (Address) -eworker (Rig Name) -esm 0 -epsw x -allcoins 1 -asm 1</li>
          </ol>
          <ol class="breadcrumb" style="width: 70%;">
            <li style="color:#000;">Phoenix Miner: -coin eth -pool enix.arhash.xyz:8002 -wal (Address) -rmode 2 -worker (Rig Name)</li>
          </ol>
        </center>
      </div>
    </div>
  </div>
</div>
<!--<span class="enixus"></span>-->
